<f:if condition="{flexFormData.fallback_text}">
	<f:then>
		<f:format.html>{flexFormData.fallback_text}</f:format.html>
	</f:then>
	<f:else>
		<p><f:translate key="locked.default" /></p>
	</f:else>
</f:if>
<f:flashMessages/>
<f:form action="unlock" class="form-inline tx-content-password-form">
	<div class="form-group">
		<f:form.hidden name="unlockid" value="{contentObject.uid}"/>
		<f:form.textfield name="password" class="form-control" placeholder="{f:translate(key: 'form.input.placeholder')}"/>
		<f:form.submit class="btn btn-primary" value="{f:translate(key: 'form.button.show')}"/>
	</div>
</f:form>
